<p>Número de preguntas</p>
<%=quizCount%>
<p>Número de comentarios</p>
<%=commentCount%>
<p>Número medio de comentarios por pregunta</p>
<%=commentCount/quizCount%>
<p>El número de preguntas sin comentarios</p>
<%=quizCount - quizWithoutComments%>
<p>El número de preguntas con comentarios</p>
<%=quizWithoutComments%>